<div class="row">
  <div class="header_catalog col-md-offset-0 col-md-12 ">
    <%= category.name %>
  </div>
</div>
<br />
<div class="recommened_list">
  <%= render partial: 'categories/_parts/category_item', collection: category_items %>
</div>
