<div class="row">
  <div class="header_catalog col-md-offset-0 col-md-12 ">
    <%= category.name %>
  </div>
</div>
<br />
<div class="recommened_list">
  <% items.each do |item| %>
    <%= render 'categories/_parts/category_item', {item: item} %>
    <br />
  <% end %>
</div>
