<div class="row ">
  <div class="header_catalog col-md-offset-0 col-md-5 ">
    Category
  </div>
</div>
<br />
<% categories.each do |category| %>
  <div class="row">
    <p> <%= link_to category.name, category_path(id: category.id) %> </p>
  </div>
<% end %>
<div class="row">
    <p> <%= link_to "Advertisement", advertisements_path %> </p>
</div>
