<div class="row">
  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img src="<%= newest_item.picture_url%>" class="image">
    </div>
  </div>
  <div class="col-md-9 col-md-offset-0">
    <%= link_to newest_item.name, item_path(id: newest_item.id) %>
    <br />
    <strong> Price </strong>: $<%= newest_item.price %>
  </div>
</div>
