<div class="row">
  <div class="header_catalog col-md-offset-0 col-md-12 ">
    Newest Items
  </div>
</div>
<br />
<br />
<div class="newest_list">
  <% newest_items.each do |item| %>
    <%= render 'categories/_parts/newest_item', {item: item} %>
    <br />
  <% end %>
  <br />
</div>
