<div class="col-sm-6 col-md-4">
  <div class="col-md-12">
    <%= recommended_item.name %>
  </div>
  <div class="col-md-12">
    <%= link_to(image_tag(recommended_item.picture_url, width: 38, height: 71),
      item_path(id: recommended_item.id)) %>
  </div>
</div>
