<div class="row">
  <div class="header_catalog col-md-offset-0 col-md-12 ">
    <%= current_user.admin? ? "All orders" : "My orders" %>
  </div>
</div>
<div class="recommened_list col-md-offset-1 col-md-11">
  <div class="row">
    <div class="col-md-offset-0 col-md-2">
      <strong> ID Order </strong>
    </div>
    <div class="col-md-offset-0 col-md-2">
      <strong> Date Ordered </strong>
    </div>
    <div class="quantity col-md-offset-0 col-md-4">
      <strong> Products </strong>
    </div>
    <div class="quantity col-md-offset-0 col-md-2">
      <strong> Subtotal </strong>
    </div>
    <div class="quantity col-md-offset-0 col-md-2">
      <strong> Status </strong>
    </div>
  </div>
  <hr/>
  <%= render partial:'orders/_parts/order', collection: list_orders %>
</div>
