<div class="row">
  <div class="col-md-offset-0 cover-iframe-standard">
		<div>
			<iframe class="iframe-standard" src="https://www.youtube.com/embed/1vGg3jG-0t0"  allowfullscreen>
				<p>Placeholder text; only shows up if the page DOESN'T render!</p>
			</iframe>
			<p>Advertisement from TAN HOABANFOOD</p>
		</div>
	</div>
  <div class="col-md-offset-0 cover-iframe-standard">
		<div>
			<iframe class="iframe-standard" src="https://www.youtube.com/embed/g_DixYiKTGE"  allowfullscreen>
		    <p>Placeholder text; only shows up if the page DOESN'T render!</p>
			</iframe>
			<p>Advertisement from TAN HOABANFOOD</p>
		</div>
	</div>	
</div>
<br/>
<div class="row">
  <div class="cover-iframe-mp3">
		<iframe class="iframe-mp3" src="https://mp3.zing.vn/"  allowfullscreen>
			<p>Placeholder text; only shows up if the page DOESN'T render!</p>
		</iframe>
	</div>
</div>	
<br/>
<div class="row">
  <div class="col-md-offset-3 cover-iframe-adsense">
		<iframe class="iframe-standard"  allowfullscreen>
			<p>Placeholder text; only shows up if the page DOESN'T render!</p>
		</iframe>
		<p>Advertisement from Google Adsense</p>
	</div>
<br/>

