<!-- <a href="#"
  onclick='postToFeed("<%#= image_tag(asset_path('FaceBookIcon.png')) %>", "some text"); return false;'>
  <%#= image_tag(asset_path('FaceBookIcon.png') , :alt=>"Facebook") %>
</a>

<script type="text/javascript">
  FB.init({appId: APP_ID", status: true, cookie: true});
  function postToFeed(img,name) {
    // calling the API ...
    var obj = {
      method: 'feed',
       redirect_uri: 'http://localhost:3000',
      link: 'http://url/',
      picture: img,
      name: 'NAME',
      caption: 'CAPTION',
      description: DESCRIPTION
    };

    function callback(response) {
      document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
    }

    FB.ui(obj, callback);
  }

</script>
 -->
<!--
<a target="_blank"
   href="https://www.facebook.com/sharer.php
     ?name=<%#= item.name%>
     &picture=<%#=item.picture_url%>
     &redirect_uri=http://facebook.com/"
   class="icon icon-facebook">
</a> -->

<%#= link_to image_tag(asset_path('FaceBookIcon.png')),
  'http://www.facebook.com/sharer.php?u='+request.fullpath, :target => :blank %>
