<div class = "row">
  <div class = "header_catalog col-md-offset-0 col-md-12 ">
    Result for: "<%= key %>"
  </div>
</div>
<br />
<div class = "recommened_list col-md-offset-2">
  <% list_items.each do |item| %>
    <div class= "row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="<%= add_prefix_to_picture_url(item["picture"])%>" class="image"/>
        </div>
      </div>
      <div class = "col-md-8 col-md-offset-0">
        <%= link_to item["name"], item_path(item["id"]) %>
        <br />
        <strong> Price </strong>: $<%= item["price"]%>
      </div>
    </div>
    <br />
  <% end %>
</div>
