// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header_catalog{
  background-color: #e44606;
  font-size: 20px;
  text-align: center;
  border-style: solid;
  border-color: #d06005;
}

.catalog{
  background-color: #e44606;
}

.out_of_stock{
  color: #cc0909;
}
