// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#status{
  color: #0b96de!important;
  font-weight: 700!important;
}

.stat{
  margin-left: 30px;
}

.update-btn{
  margin-left: 60px;
}
