<div class="row">
  <div class="header_catalog col-md-offset-0 col-md-12 ">
    Newest Items
  </div>
</div>
<br />
<br />
<div class="recommened_list col-md-offset-1">
  <% newest_items.each do |item| %>
    <div class="row">
      <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
          <img src="<%= item.image_url%>" height="71px" width="38px" class="image">
        </div>
      </div>
      <div class="col-md-9 col-md-offset-0">
        <%= link_to item.name, item_path( item.id) %>
        <br />
        <strong> Price </strong>: $<%= item.price %>
      </div>
    </div>
    <br />
  <% end %>
</div>
