<div class = "row">
  <div class = "header_catalog col-md-offset-0 col-md-12 ">
    Newest Items
  </div>
</div>
<br />
<div class = "recommened_list col-md-offset-2">
  <% newest_items.each do |item| %>
    <div class = "row">
      <img src = "<%= item.image_url %>"
      height = "71px" width = "38px">
      <%= link_to item.name, item_path(item.id) %>
      <strong> Price </strong>: $<%= item.price%>
    </div>
    <br />
  <% end %>
</div>
