<div class = "row">
  <div class = "header_catalog col-md-offset-0 col-md-12 ">
    Recommended Items
  </div>
</div>

<div class = "recommened_list col-md-offset-2">
  <% for i in 0..1 do %>
    <div class = "row">
      <% for j in 0..2 do %>
        <div class = "col-md-3">
          <%= recommended_items[i*3 + j].name %>
          <br />
          <%= link_to(image_tag(recommended_items[i*3 + j].image_url, width: 38, height: 71),
           category_item_path(recommended_items[i*3 + j].category.id, recommended_items[i*3 + j].id)) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
