<div class= "row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="<%= item.picture_url %>" class="image"/>
    </div>
  </div>
  <div class = "col-md-8 col-md-offset-0">
    <%= link_to item.name, item_path(locale, item.id) %>
    <br />
    <strong> Price </strong>: $<%= item.price %>
  </div>
</div>
