<footer id="contact_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Thông tin liên hệ</h3>
        <table class="tb-contact">
          <tbody>
            <tr>
              <td valign="top">
              <div class="icon-footer icon-1">&nbsp;</div>
              </td>
              <td>Lầu 4, MIRAE BUSINESS CENTER<br>
              268 Tô Hiến Thành, Phường 15<br>
              Quận 10, Tp. Hồ Chí Minh, Việt Nam</td>
            </tr>
            <tr>
              <td>
              <div class="icon-footer icon-2">&nbsp;</div>
              </td>
              <td><a class="tel" href="tel:838633399">(84)-838-633-399</a></td>
            </tr>
            <tr>
              <td>
              <div class="icon-footer icon-3">&nbsp;</div>
              </td>
              <td><a href="mailto:info@zigexn.vn">info@zigexn.vn</a></td>
            </tr>
          </tbody>
        </table>

        <div class="social-line">
          <a href="https://www.facebook.com/ZigexnVenturaCoLtd" class="icon-footer icon-4" target="_blank"></a>
          <a href="" class="icon-footer icon-5"></a>
          <a href="https://plus.google.com/u/0/108508440468669046445/posts" class="icon-footer icon-6" target="_blank"></a>
          <a href="https://www.linkedin.com/company/zigexn-ventura-job-news" class="icon-footer icon-7" target="_blank"></a>
        </div>
      </div>
      <div class="col-md-8">
        <a class="various fancybox.iframe fancybox" href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3919.4343271557673!2d106.66561200000001!3d10.778009!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edac5db8511%3A0x29b48db25c0d279a!2zQmlnIEMgTWnhu4FuIMSQw7RuZw!5e0!3m2!1sen!2s!4v1417161878364">
          <img alt="maps" class="img-responsive" src="<%= asset_path( 'zigexn_new_maps-6b98bbd06f2ea2a61baef70caa2cfc82.png' ) %>">
        </a>
      </div>
    </div><!--row-->
    <div class="row">
      <div class="col-md-12 copyright">
        Bản quyền thuộc về Công ty TNHH ZIGExN VeNtura.
      </div>
    </div>
  </div>
</footer>
