<div id="header">
  <div class = "row">
    <div class = "col-md-1 col-md-offset-0">
      <img src="<%= asset_path( 'logo.png' ) %>"  alt="Smiley face" height="120" width="200" class= "logo">
    </div>
    <div class = "col-md-3 col-md-offset-7">
      <ul class="nav navbar-nav navbar-right nav-custom">
        <li>
          <%= link_to "Login", new_user_session_path%>
        </li>
        <li>
          <%= link_to "Register", new_user_registration_path%>
        </li>
      </ul>
    </div>
  </div>
</div>


